USE [master]
GO
/****** Object:  Database [LBD8]    Script Date: 16/02/2019 11:31:47 a.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'LBD8')
DROP DATABASE [LBD8]
GO
/****** Object:  Database [LBD8]    Script Date: 16/02/2019 11:31:47 a.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'LBD8')
BEGIN
CREATE DATABASE [LBD8]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBD8', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LBD8.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LBD8_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LBD8_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBD8].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
